body {
  background-color: #0e0f48;
}

.contact-info {
  font-family: Arial, sans-serif; /* Choose a suitable font */
  color: #ffffff; /* Dark gray text color */
  line-height: 1.6; /* Improve readability */
  background-color: #0e0f48; /* Bbackground color */
}

.contact-info h2 {
  color: #ec008c; /* Blue heading color */
  margin-bottom: 5px;
  font-size: 1.5em; /* Larger heading size */
}

.contact-info .address {
  font-style: normal; /* Ensure address is not italicized by default */
  padding: 0;
  margin: 0;
}

.contact-info .store-hours {
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

.contact-info .store-hours li {
  margin-bottom: 5px;
}
