body {
  background-color: #0e0f48;
}

.colored-hr {
    height: 2px; /* Sets the thickness of the line */
    background-color: #00faf2; /* Sets the color of the line (a shade of blue) */
    border: none; /* Removes the default border, which can create a 3D effect */
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between; /* Distributes space between columns */
  width: 45%; /* Adjust the width as needed */
  margin: 0 auto;
}

.column {
  flex: 1; /* Makes columns grow and shrink equally */
  padding: 10px; /* Adds internal spacing within columns */
}

.contact-info {
  font-family: Arial, sans-serif; /* Choose a suitable font */
  color: #ffffff; /* Dark gray text color */
  line-height: 1.6; /* Improve readability */
  background-color: #0e0f48; /* Bbackground color */
}

.contact-info h2 {
  color: #ec008c; /* Blue heading color */
  margin-bottom: 5px;
  font-size: 1.5em; /* Larger heading size */
}

.contact-info .address {
  font-style: normal; /* Ensure address is not italicized by default */
  padding: 0;
  margin: 0;
}

.contact-info .store-hours {
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

.contact-info .store-hours li {
  margin-bottom: 5px;
}
